In [1]:
import numpy as np
import pandas as pd
from glob import glob
import os
import pickle

In [2]:
files = glob("*mis*.pickle")

In [3]:
files

[]

In [8]:
path = files[0]

with open(path, "rb") as f:
    data = pickle.load(f)

In [11]:
data.keys()

dict_keys(['pause_gender', 'false_gender', 'pause_age', 'false_age', 'stop_gender', 'stop_age'])

In [12]:
pause_genders = []
false_genders = []
pause_ages = []
false_ages = []
for file_path in files:
    with open(file_path, "rb") as f:
        data = pickle.load(f)
    pause_genders.extend(data["pause_gender"])
    false_genders.extend(data["false_gender"])
    pause_ages.extend(data["pause_age"])
    false_ages.extend(data["false_age"])

In [26]:
pd.DataFrame(false_ages, columns = ["id", "label"])

         id  label
0    000631      2
1    000633      2
2    000635      2
3    000642      2
4    000655      2
..      ...    ...
129  005441      2
130  005537      2
131  005552      0
132  005556      2
133  005559      2

[134 rows x 2 columns]

In [14]:
df = pd.DataFrame()
names = ["pause_gender.csv", "false_gender.csv", "pause_age.csv", "false_age.csv"]
datas = [pause_genders, false_genders, pause_ages, false_ages]



for each_list, name in zip(datas, names):
    df = pd.DataFrame(each_list, columns = ["id", "label"])

AttributeError: 'list' object has no attribute '__name__'

## Mislabel

In [8]:
DATA_DIR = "onetime_files"

In [17]:
pd.read_csv??

In [19]:
false_gender = pd.read_csv(DATA_DIR + "/" + "false_gender.csv")
pause_gender = pd.read_csv(DATA_DIR + "/" + "pause_gender.csv")
false_age = pd.read_csv(DATA_DIR + "/" + "false_age.csv")
pause_age = pd.read_csv(DATA_DIR + "/" + "pause_age.csv")

In [ ]:
df["age"] = df["age"].astype(int).astype(str)
df["path"] = "/opt/ml/input/data/train/images/" + df["ID"] + "_" + df["gender"] + "_Asian_"+ df["age"]

In [ ]:
DATA_DIR = "/opt/ml/t"

In [28]:
false_gender

    Unnamed: 0        id   label
0            0    000767    male
1            1    001049    male
2            2  001498-1  female
3            3    000631    male
4            4    000639    male
5            5    000645    male
6            6    000662    male
7            7    000667    male
8            8    000668    male
9            9    000767    male
10          10    000010    male
11          11    000219    male
12          12    000226    male
13          13    000272    male
14          14    000273    male
15          15    000279    male
16          16    000299    male
17          17    000667    male
18          18    004432  female
19          19    004451    male
20          20    005038    male
21          21    005223  female
22          22    005464  female
23          23    006359    male
24          24    006360    male
25          25    006361    male
26          26    006362    male
27          27    006363    male
28          28    006364    male
29          29    006504    male

In [26]:
pause_gender

    Unnamed: 0    id   label
0            0   273    male
1            1   533    male
2            2   664    male
3            3   720    male
4            4   725    male
5            5   817    male
6            6  1055    male
7            7  1266    male
8            8  1520    male
9            9  1543    male
10          10   642    male
11          11   686    male
12          12   214    male
13          13   278    male
14          14   283    male
15          15   292    male
16          16   293    male
17          17   311    male
18          18   344    male
19          19   357    male
20          20   514    male
21          21   528    male
22          22   535    male
23          23   668    male
24          24   718    male
25          25  4386    male
26          26  5006    male
27          27  5234  female

In [ ]:
def image_gender_check(start_idx, img_id, gender, path):
    pic_path = glob(os.path.join(path, "normal.*"))[0]
    img = Image.open(pic_path)
    plt.imshow(img)
    plt.show()
    new_gender = "female" if gender == "male" else "male"
    
    while True:
        enter_key = input(f"Original Label: {gender}. ID:{img_id}. You think it's correct? [y -yes/ n-no / p-pause / q- quit]")
        if enter_key.lower() == "y":
            print("Mark as correct")
            return "y"
        elif enter_key.lower() == "n":
            print(f"Mark as incorrect : {gender} -> {new_gender} ")
            return "n"

        elif enter_key.lower() == "p":
            print("Mark as stop. Confusing?")
            return "p"
        
        elif enter_key.lower() == "q":
            print("You choose to stop. Temporary")
            return "q"
        else:
            print("Wrong input. [y|n|p|q] is valid. Press again")
    
def check_image_gender(dataframe,  start_idx=0, end_idx=1000):
    pause_lists = []
    false_lists = []
    count = 0
    try:
        for idx, row in dataframe.iterrows():
            if idx>end_idx  : continue
            pass
            print("idx:", idx)
            count+=1   
            img_id = row["ID"]
            gender = row["gender"]
            age = row["age"]
            path = row["path"]

            new_gender = "male" if gender == "female" else "female"
            check_key = image_gender_check(idx, img_id, gender, path)
            
            print(f"{count}번쨰")
            
            if check_key == "n":
                false_lists.append((img_id, new_gender))    

            elif check_key == "p":
                pause_lists.append((img_id, new_gender))

            elif check_key == "q":
                print("STOP AT idx:", idx)
                print("Record the result somewhere else, if you are not done")
                break
                
            else:
                print("NOTHING SPECIAL")
    
            clear_output(wait=True)
        
    except KeyboardInterrupt:
        print("Interrupt catch")
        return pause_lists, false_lists, count
        
    return pause_lists, false_lists, count

In [ ]:
def image_age_check(start_idx, img_id, age, path):
    pic_path = glob(os.path.join(path, "normal.*"))[0]
    img = Image.open(pic_path)
    plt.imshow(img)
    plt.show()
    
    while True:
        enter_key = input(f"Original Label: {int(age)//30},{30 * (int(age)//30)} ~ {30 *(int(age)//30+1)} , with age {age}.ID:{img_id}. You think it's correct? [y -yes/ n-no / p-pause / q- quit]")
        if enter_key.lower() == "y":
            print("Correct!")
            return "y", age
        elif enter_key.lower() == "n":
            print("Wrong label. save your predictions..")
            
            while True:
                new_label = input("Your new label ?? Choose from 0,1,2")
                if new_label not in ["0", "1", "2"] :
                    print("다시 입력하세요")
                    continue
                new_label = int(new_label)
                break
                
            return "n", new_label

        elif enter_key.lower() == "p":
            print("You choose to pause. Discuss with others.")
            return "p", age
        
        elif enter_key.lower() == "q":
            print("You choose to stop. Temporary")
            print("Record the result somewhere else, if you are not done")
            return "q", age
        else:
            print("Wrong input. [y|n|p|q] is valid. Press again")
    

def check_image_age(dataframe, start_idx=0, end_idx=1000):
    try:
        pause_lists = []
        false_lists = []
        count = 0
        for idx, row in dataframe.iterrows():
            print("idx:", idx)
            count += 1
            if idx< start_idx or idx>end_idx : continue        
            img_id = row["ID"]
            gender = row["gender"]
            age = row["age"]
            path = row["path"]

            new_gender = "male" if gender == "female" else "female"
            print(f"{count}번쨰")
            check_key, new_age = image_age_check(idx, img_id, age, path)
            if check_key == "n":
                false_lists.append((img_id, new_age))    

            elif check_key == "p":
                pause_lists.append((img_id, age))    

            elif check_key == "q":
                print("STOP AT idx:", idx)
                print("Record the result somewhere else, if you are not done")
                break        
                
            else:
                print("NOTHING SPECIAL")
    
            clear_output(wait=True)
            
    except KeyboardInterrupt:
        print("Interrupt catch")
        return pause_lists, false_lists, count
            
    return pause_lists, false_lists, count