In [7]:
import numpy as np
import pandas as pd
from glob import glob
import os
import pickle

In [5]:
files = glob("*mis*.pickle")

In [6]:
files

['gyubo_mislabel.pickle',
 'SeoHyeon_mislabel.pickle',
 'Hanbyeol_mislabel.pickle',
 'mislabel_sangmo.pickle',
 'youngjin_mislabel.pickle']

In [8]:
path = files[0]

with open(path, "rb") as f:
    data = pickle.load(f)

In [11]:
data.keys()

dict_keys(['pause_gender', 'false_gender', 'pause_age', 'false_age', 'stop_gender', 'stop_age'])

In [12]:
pause_genders = []
false_genders = []
pause_ages = []
false_ages = []
for file_path in files:
    with open(file_path, "rb") as f:
        data = pickle.load(f)
    pause_genders.extend(data["pause_gender"])
    false_genders.extend(data["false_gender"])
    pause_ages.extend(data["pause_age"])
    false_ages.extend(data["false_age"])

In [26]:
pd.DataFrame(false_ages, columns = ["id", "label"])

         id  label
0    000631      2
1    000633      2
2    000635      2
3    000642      2
4    000655      2
..      ...    ...
129  005441      2
130  005537      2
131  005552      0
132  005556      2
133  005559      2

[134 rows x 2 columns]

In [14]:
df = pd.DataFrame()
names = ["pause_gender.csv", "false_gender.csv", "pause_age.csv", "false_age.csv"]
datas = [pause_genders, false_genders, pause_ages, false_ages]



for each_list, name in zip(datas, names):
    df = pd.DataFrame(each_list, columns = ["id", "label"])

AttributeError: 'list' object has no attribute '__name__'